body {
  color: #0b2e13;
  font-size: 0.9em;
  overflow-x: hidden;
  font-feature-settings: "palt";
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #DFF5E1;
}

img {
  width: 100%;
}

.card {
  max-width: 980px;
  margin: auto;
}

.card-deck {
  max-width: 980px;
  margin: auto;
}

/*-- MV --*/
.jumbotron {
  background: url("../images/bg-img.png") center no-repeat;
  background-size: cover;
}

.jumbotron {
  border-radius: 0;
}

.fv_txt {
  margin: 2% auto;
  padding: 2%;
  max-width: 600px;
  color: white;
  font-size: 2vmin;
  background-color: rgba(0, 0, 0, 0.2);
}


/** 全体 > IE写真伸び訂正削除厳禁 **/
.card-img-top {
  max-width: 100%;
  flex-shrink: 0;
}

/** 全体　> Nav **/
.navbar-brand {
  background: url("http://www.3s-group.co.jp/images/logo-2.png") no-repeat left center;
  background-size: contain;
  height: 50px;
  width: 250px;
}

.bg-light02 {
  background-color: #f8f9fa !important
}

a.bg-light02:focus, a.bg-light02:hover, button.bg-light02:focus, button.bg-light02:hover {
  background-color: #dae0e5 !important
}

.bg-pale-green {
  background-color: #DFF5E1;
}

/**LPコンテンツ 背景白**/
.lp_area {
  margin: 0 auto;
  padding: 0 0;
  text-align: center;
  width: 100%;
}

/**LPコンテンツ 背景緑**/
.lp_areag {
  margin: 0 auto;
  padding: 0 0;
  text-align: center;
  width: 100%;
  background: #13430a;
}

/**LPコンテンツ 背景馬**/
.lp_areaa {
  margin: 0 auto;
  padding: 0 0;
  text-align: center;
  width: 100%;
  background: url("../images/back_a.png") center no-repeat;
  background-size: cover;
}

/**LPコンテンツ 背景馬**/
.lp_areab {
  margin: 0 auto;
  padding: 0 0;
  text-align: center;
  width: 100%;
  background: url("../images/back_b.png") center no-repeat;
  background-size: cover;
}

/**LPコンテンツ 背景芝生と空**/
.lp_areac {
  margin: 0 auto;
  padding: 0 0;
  width: 100%;
  background: url("../images/green_back.png") center no-repeat;
  background-size: cover;
}


/**スクロールエリア **/
.scroll_area {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  padding: 0 0 5% 0;
  text-align: center;
}

/**LPコンテンツ **/

.content_area {
  margin: 0 auto;
  max-width: 780px;
  width: 100%;
  padding: 5% 0;
  text-align: center;
}

/**LPコンテンツ 薄緑**/
.back-g {
  margin: 0 auto;
  padding: 0 0;
  width: 100%;
  background: #e5efe5;
}

/**タイトルエリア 緑**/
.title_area {
  margin: 0 auto 2% auto;
  padding: 0;
  text-align: center;
}


.title_area h3 {
  color: #13430a;
  font-weight: bold;
  font-size: 6vmin;
  position: relative;
  padding: 1.5rem;
  text-align: center;
}

.title_area h3 span {
  color: #13430a;
  font-weight: bold;
  font-size: 4vmin;
  display: block;
}

.title_area h3:before {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: #fee690;
}


/**タイトルエリア 白**/
.title_areaw {
  margin: 0 auto 2% auto;
  padding: 0;
  text-align: center;
}


.title_areaw h3 {
  color: #fff;
  font-weight: bold;
  font-size: 6vmin;
  position: relative;
  padding: 1.5rem;
  text-align: center;
}

.title_areaw h3 span {
  color: #fff;
  font-weight: bold;
  font-size: 4vmin;
  display: block;
}

.title_areaw h3:before {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: #f5bb19;
}


/**テキスト 白**/
.text-w {
  color: #fff;
  padding: 2% 12% 12% 12%;
  margin: 0 auto;
  text-align: center;
}


/**ご支援のお願い　１列目**/
.charity_area {
  margin: 5% auto 0 auto;
  padding: 2%;
  width: 100%;
  max-width: 980px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  display: flex;
}

.charity_photo {
  padding: 0;
  margin: 0 auto;
  width: 30%;
}

.charity_txt {
  padding: 0 2%;
  margin: 0 auto;
  width: 66%;
}

/**ご支援のお願い 2列目**/
.charity_box {
  margin: 5% auto 0 auto;
  padding: 2%;
  width: 100%;
  max-width: 980px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.charity_photo02 {
  width: 40%;
  padding: 0;
  margin: 0;
}

.charity_photo02 img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: .25rem;
}

.charity_txt02 {
  width: 58%;
  padding: 0;
  margin: 0;
}
.card-title02 {
  margin-bottom: 10%;
}


/**キャンペーン概要タイトル背景**/
.campaign_title {
  /* background: #cc0000; */
  background: #13430a;
}


/*おやつクッキー 商品画像に左右余白ができないようにする */
.product-img {
  max-height: 160px;
  width: 100%;
  object-fit: contain;
  margin: 0 !important;
  padding: 0 !important;
  display: block;
  border: none;
}

/*おやつクッキー カードの余白も完全になくす */
.card {
  padding: 0 !important;
  border: none !important;
  background-color: transparent;
}

/*おやつクッキー カードの画像の上下に余白がつくのを防ぐ */
.card-img-top {
  margin: 0 !important;
  padding: 0 !important;
}
/*おやつクッキー ボタンのサイズ感と揃え調整 */
.card-body .btn {
  min-width: 120px;   /* 幅を揃える */
  font-size: 0.9rem;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
}



@media only screen and (max-width : 750px) {

  body {
    color: #13430a;
    font-size: 0.9em;
    overflow-x: hidden;
    font-feature-settings: "palt";
    width: 100%;
    margin: 0;
    padding: 0;
  }

  img {
    width: 100%;
    height: auto;
  }


  .bg-light02 {
    width: 100%;
    margin: 0 auto;
    padding: 0;

  }

  .d-flex {
    width: 100%;
    margin: 0 auto;
    padding: 0;

  }

  /**ご支援のお願い**/
  .charity_area {
    margin: 5% auto 0 auto;
    padding: 2%;
    width: 96%;
    max-width: 750px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    display: block;
  }

  .charity_photo {
    padding: 0 0 5% 0;
    margin: 0 auto;
    width: 100%;
  }

  .charity_txt {

    padding: 0 2%;
    margin: 0 auto;
    width: 100%;
  }


  /**ご支援のお願い 1列**/

  .charity_area02 {
    display: block;
    margin: 0 auto;
    padding: 2%;
    width: 100%;
    max-width: 750px;
    text-align: center;
    justify-content: center;
  }

  .charity_box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin: 5% auto 0 auto;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    text-align: left;
  }
/* ご支援のお願い　2列目 */
    .charity_box {
    flex-direction: column;
    width: 96%;
  }

  .charity_photo02,
  .charity_txt02 {
    width: 100%;
  }

  .charity_txt02 {
    margin-top: 1rem;
    text-align: center;
  }
.card-title02 {
  margin-bottom: 2%;
}

  /**タイトルエリア 緑**/
  .title_area {
    margin: 0 auto 5% auto;
    padding: 0;
    text-align: center;


  }


  .title_area h3 {
    color: #13430a;
    font-weight: bold;
    font-size: 6vmin;
    position: relative;
    padding: 1rem;
    text-align: center;
  }

  .title_area h3 span {
    color: #13430a;
    font-weight: bold;
    font-size: 4vmin;
    display: block;
  }

  .title_area h3:before {
    position: absolute;
    bottom: -10px;
    left: calc(50% - 30px);
    width: 60px;
    height: 5px;
    content: '';
    border-radius: 3px;
    background: #fee690;
  }


  /**タイトルエリア 白**/
  .title_areaw {
    padding: 0;
    text-align: center;
  }


  .title_areaw h3 {
    color: #fff;
    font-weight: bold;
    font-size: 6vmin;
    position: relative;
    padding: 1rem;
    text-align: center;
  }

  .title_areaw h3 span {
    color: #fff;
    font-weight: bold;
    font-size: 4vmin;
    display: block;
  }

  .title_areaw h3:before {
    position: absolute;
    bottom: -10px;
    left: calc(50% - 30px);
    width: 60px;
    height: 5px;
    content: '';
    border-radius: 3px;
    background: #f5bb19;
  }

  /**スクロールエリア **/
  .scroll_area {
    margin: 0 auto;
    max-width: 750px;
    width: 90%;
    padding: 0 0 10% 0;
    text-align: center;


  }

  .product02 img {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
  }

  .product02 {

    height: auto;
  }

}

@media screen and (max-width: 460px) {
  .navbar-brand {
    display: none
  }

}


.square {
  width: 2px;
  height: 25px;
  background: #13430a;
  padding-top: 2em;
}

.square-white {
  width: 2px;
  height: 25px;
  background: #fff;
  padding-top: 2em;
}

/*-- 全体 > riangle --*/
.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 30px 0 30px;
  border-color: #0a2804 transparent transparent transparent;
  line-height: 0px;
  _border-color: #13430a #000000 #000000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

/*-- 全体 > Background --*/
.back-g2 {
  background: linear-gradient(to top, #0a2804, #13430a);
}

.back-g6 {
  background: linear-gradient(to top, #b8e3c4, #DFF5E1);
}


.back-s {
  background-color: #fff;
  background-image: repeating-linear-gradient(45deg,
      #F7F2E0, #F7F2E0 3px,
      transparent 0, transparent 6px);
}

.back-g5 {
  background-color: #13430a;
}


/*-- 全体 > Fade-in --*/
.fadein {
  opacity: 0;
  transform: translate(0, 50px);
  transition: all 300ms;
}

.fadein.scrollin {
  opacity: 1;
  transform: translate(0, 0);
}

/* 支援金の使われ方 > button styles */
.button {
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  max-width: 180px;
  border: 2px solid #13430a;
  color: #13430a;
  padding: 10px 14px;
  border-radius: 25px;
  text-decoration: none;
}

/**-- メンバー紹介 --**/

.card-deck {
  margin: 5% 2%;
}

.member {
  height: 600px;
}

.wf-sawarabimincho {
  font-family: "Sawarabi Mincho";
}

/**-- 商品を買って応援 --**/
.price {
  display: block;
}

.product img {
  width: auto;
  height: 70%;
}

.product {
  height: 50vh;
}

.product02 {
  height: 70vh;
}

.product02 img {
  width: auto;
  height: 100%;
  object-fit: contain;
}


.autoplay .slick-slide:not(.slick-center) {
  -webkit-filter: opacity(30%);
  -moz-filter: opacity(30%);
  -o-filter: opacity(30%);
  -ms-filter: opacity(30%);
  filter: opacity(30%);
  transition: 0.2s linear;
}

/**-- ボタンデザイン --**/
.amazon_button a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 10px auto;
  padding: 2% 0 1% 0;
  border-radius: 5px;
  background: #fec02f;
  color: #212529;
  transition: none;
}

.amazon_button a:hover {
  background: #df9f09;
  color: #212529;
  text-decoration: none
}

/**-- Q&A --**/

.cp_qa {
  text-align: left;
}

.cp_qa *, .cp_qa *:after, .cp_qa *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cp_qa .cp_actab {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 0 1em 0;
  color: white;
}

.cp_qa .cp_actab input {
  position: absolute;
  opacity: 0;
}

.cp_qa .cp_actab label {
  font-weight: bold;
  line-height: 1.6em;
  position: relative;
  display: block;
  margin: 0 0 0 0;
  padding: 1em 2em 1em 2.5em;
  cursor: pointer;
  text-indent: 1em;
  border-radius: 0.5em;
  background: #13430a;
}

.cp_qa .cp_actab label::before {
  font-size: 1.5em;
  margin-left: -2em;
  padding-right: 0.5em;
  content: 'Q';
}

.cp_qa .cp_actab label::after {
  font-size: 1.7em;
  font-weight: bold;
  line-height: 2em;
  position: absolute;
  top: 0;
  right: 0;
  content: '+';
  display: inline-block;
  width: 2em;
  height: 2em;
  -webkit-transition: transform 0.4s;
  transition: transform 0.4s;
}

.cp_qa .cp_actab .cp_actab-content {
  position: relative;
  overflow: hidden;
  max-height: 0;
  padding: 0 0 0 2.5em;
  -webkit-transition: max-height 0.2s;
  transition: max-height 0.2s;
  border-radius: 0 0 0.5em 0.5em;
  color: #0a2804;
  background: white;
}

.cp_qa .cp_actab .cp_actab-content::before {
  font-size: 1.5em;
  position: absolute;
  margin: 0.4em 0 0 -1em;
  padding: 0;
  content: 'A';
}

.cp_qa .cp_actab .cp_actab-content p {
  margin: 1em 1em 1em 0;
}

.cp_qa .cp_actab input:checked~.cp_actab-content {
  max-height: 40em;
  border: 10px;
}

.cp_qa .cp_actab input:checked~label {
  border-radius: 0.5em 0.5em 0 0;
}

.cp_qa .cp_actab input[type=checkbox]:checked+label::after {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

/* フッター枠 */
.card-body02 {
  border: 1px solid white;
  padding: 20px;
}

.col-md-7 {

}